<div class="fullwidth box">
  <div class="column is-4 is-offset-4 is-clearfix signin">

    <div class="form__head">
      Login
    </div>

    <form class="form__init login">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input is-medium" type="email" [(ngModel)]="user.email" name="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input is-medium" type="password" [(ngModel)]="user.password" name="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control">
          <button class="button is-warning is-fullwidth" (click)="onSignin()">
            Login
          </button>
        </p>
      </div>
    </form>

  </div>
</div>
