<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/']">
      <!--<img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">-->
      <strong>
        College Component
      </strong>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">


    <div class="navbar-end">
      <div class="navbar-start">

        <a class="navbar-item" *ngIf="!userService.loggedIn()" [routerLink]="['/dashboard']">
          Dashboard
        </a>

        <!-- Área de admin -->

        <a class="navbar-item" *ngIf="!userService.loggedIn() && userService.getRole() == 0" [routerLink]="['/students']">
          Estudiantes
        </a>

        <a class="navbar-item" *ngIf="!userService.loggedIn() && userService.getRole() == 0" [routerLink]="['/teachers']">
          Profesores
        </a>

        <a class="navbar-item" *ngIf="!userService.loggedIn() && userService.getRole() == 0" [routerLink]="['/subjects']">
          Asignaturas
        </a>

        <a class="navbar-item" *ngIf="!userService.loggedIn() && userService.getRole() == 0" [routerLink]="['/sections']">
          Secciones
        </a>

        <!-- END admin area -->

        <!-- Área de estudiantes -->

        <a class="navbar-item" *ngIf="!userService.loggedIn() && userService.getRole() == 1" [routerLink]="['/profile']">
          Calificaciones
        </a>

        <a class="navbar-item" *ngIf="!userService.loggedIn() && userService.getRole() == 1" [routerLink]="['/profile']">
          Boletín
        </a>

        <!-- END Estudiantes area -->

        <a class="navbar-item" *ngIf="!userService.loggedIn() && userService.getRole() == 1" [routerLink]="['/profile']">
          Mi perfil
        </a>

        <a class="navbar-item" *ngIf="!userService.loggedIn()" (click)="logout()">
          Cerrar Sesión
        </a>
        <a class="navbar-item" *ngIf="userService.loggedIn()" [routerLink]="['/']">
          Login
        </a>
        <a class="navbar-item" *ngIf="userService.loggedIn()" [routerLink]="['/register']">
          Register
        </a>
      </div>
    </div>
  </div>
</nav>
