<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
          <div class="column">
              <h1 class="title">
                  Mi perfil
                </h1>
                <h2 class="subtitle">
                  Correo: {{ user[0].email }}
                  <p>
                    Nombre: {{ user[0].student_id.name }} {{ user[0].student_id.lastname }} 
                  </p>
                  <p>
                    Cédula de identidad: {{ user[0].student_id.ci }}
                  </p>
                  <p>
                    Edad: {{ user[0].student_id.age }}
                  </p>
                  <p>
                    Cursando: {{ level_name }}
                  </p>
                  <p>
                    Sección: {{ mayus(section_name) }}
                  </p>
                </h2>
          </div>
          <div class="column">
              <div class="file is-pulled-right">
                  <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Choose a file…
                      </span>
                    </span>
                  </label>
                </div>
                <div>
                  <img src="/assets/default-user.png" alt="" class="is-pulled-right">
                </div>
          </div>
      </div>
    </div>
  </div>
</section>