<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Dashboard
      </h1>
      <h2 class="subtitle">
        Bienvenido {{ user.email }}  
        <p>
          rol: 
          <strong *ngIf="user.role == 0">
            Administrador
          </strong> 
          
          <strong *ngIf="user.role > 0">
            Estudiante
          </strong>
        </p>
      </h2>
    </div>
  </div>
</section>
