<div class="fullwidth box">
  <div class="column is-4 is-offset-4 is-clearfix signin">

    <div class="form__head">
      Registrate
    </div>

    <form class="form__init register">

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input " type="text" 
            name="name" [(ngModel)]="register.name" placeholder="Nombre">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input " type="text" name="lastname" 
            [(ngModel)]="register.lastname" placeholder="Apellido">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </p>
      </div>

      <div class="columns">
        <div class="column">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input " type="number" name="ci"
                  [(ngModel)]="register.ci" min="0" placeholder="Cédula de identidad">
                <span class="icon is-small is-left">
                  <i class="fa fa-address-card"></i>
                </span>
              </p>
            </div>
        </div>
        <div class="column">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input " type="number" name="age"
                  [(ngModel)]="register.age" min="0" placeholder="Edad">
                <span class="icon is-small is-left">
                  <i class="fa fa-plus"></i>
                </span>
              </p>
            </div>
        </div>
      </div>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input " type="email" name="email"
            [(ngModel)]="register.email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input " type="password" name="password"
            [(ngModel)]="register.password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <div class="control">
          <div class="select is-primary slt">
            <select name="section_id" class="slt" [(ngModel)]="register.section_id" >
              <option *ngFor="let section of sections"
                [value]="section._id">{{ mayus(section.name) }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <div class="select is-primary slt">
            <select name="level_id" class="slt" [(ngModel)]="register.level_id" >
              <option *ngFor="let level of levels"
                [value]="level._id">{{ mayus(level.name) }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <p class="control">
          <button class="button is-warning is-fullwidth" (click)="signup()">
            Registrame
          </button>
        </p>
      </div>
    </form>

  </div>
</div>
