/* You can add global styles to this file, and also import other style files */

/*  FONTS IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

/* ---------------------------------------------- */

.box {
  background: url('/assets/cool-background.png');
  height: 580px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.signin {
  margin-top: 60px;
}

.form__head {
  border-bottom: 0px;
  padding: 10px 15px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-size: 24px;
  color: #FFF;
  font-weight: 800;
  background-color: #00d1b2;
  opacity: 0.8;
}

.form__init {
  border-radius: 0px 0px 5px 5px;
  background-color: #00d1b2;
  opacity: 0.8;
}

.login {
  height: 14em;
  padding: 30px 30px;
}

.register {
  height: 26em;
  padding: 20px 30px;
}